.purchase {
    display: flex;
    flex-direction: column;
    padding: 0 15px;
    margin: 1.5em;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
}

.image {
    width:140px 40px ;
}
.name{
    padding-top: 1em;
    font: 16px Yantramanav, sans-serif;
    font-size: 300;
}

.quantity{
    margin: 0px 28px;
    padding: 5px;
    border-color: #515151;
}
.price {
    margin: 0px 28px;
    padding: 5px;
}