.register{
    display: flex;
    justify-content: center;
}

h2, p{
    padding: 0.5em;
    text-align: center;
}

.register__title{
    color: #df6e6e;
}


.register__form{
    margin: 2em;
    border-radius: 0.2rem;
    padding: 1em 0.8em;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
}

input{
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    border-radius: 0.2em;
}
.register__list{
    box-sizing: border-box;
    color: #141414;
    font-family: Yantramanav,sans-serif;
    margin-bottom: 0.5em;
    display: flex;
    flex-direction: column;
}

.register__label{
    padding-left: 1em;
    font-size: 0.9rem;
    color: #df6e6e;
}

.register__btn {
    border: none;
    background-color: #e96262;
    border-radius: 0.2em;
    right: 20px;
    cursor: pointer;
    padding: 5px;
    color: white;
    margin: 5px 0 10px;
}